<!DOCTYPE html>
<html>
  <head>
    <title>TacoBoutIt</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('TBI.png') %>
  </head>

  <body>
    <article>
    <script type="text/javascript">
      window.logoUrl = "<%= image_url('TBI-small.png') %>";
      window.classyImage = "<%= image_url('signup_circle.png') %>";
      window.taco404 = "<%= image_url('taco404.png') %>";
      window.cityFooter = "<%= image_url('city_footer.png') %>";
      window.tacoLogo = "<%= image_url('taco_logo.png') %>";
      window.tbiLogo = "<%= image_url('TBI-Logo.png') %>";
    </script>
      <main><%= yield %></main>
      <footer></footer>
    </article>
  </body>
</html>
