<!DOCTYPE html>
<html>
  <head>
    <title>SomethingYelpClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('x-favicon.png') %>
  </head>

  <body>
    <script type="text/javascript">
      window.logoUrl = "<%= image_url('x-favicon.png') %>";
      window.classyImage = "<%= image_url('signup_circle.png') %>";
    </script>
    <%= yield %>
  </body>
</html>
