<!DOCTYPE html>
<html>
  <head>
    <meta property="og:title" content="TacoBoutIt" />
    <meta property="og:image" content="<%= image_url('meta-tbi-logo.png') %>"/>
    <meta property="og:description"
      content="TacoBoutIt is a full-stack clone of Yelp that allows users to Register, view Businesses, create Reviews, and interact with other Users by Tagging reviews. Ruby on Rails was implemented for the backend, while React and Redux was integrated for the frontend."
    />
    <meta property="og:url"
      content="https://tacobout-it.herokuapp.com/"
    />
    <title>TacoBoutIt</title>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{ENV['MAPS_API_KEY']}" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('TBI.png') %>
  </head>

  <body>
    <article>
    <script type="text/javascript">
      window.logoUrl = "<%= image_url('TBI-small.png') %>";
      window.classyImage = "<%= image_url('signup_circle.png') %>";
      window.taco404 = "<%= image_url('taco404.png') %>";
      window.cityFooter = "<%= image_url('city_footer.png') %>";
      window.tacoLogo = "<%= image_url('taco_logo.png') %>";
      window.tbiLogo = "<%= image_url('TBI-Logo.png') %>";
    </script>
      <main><%= yield %></main>
    </article>
  </body>
</html>
